body{
    background-color: aquamarine;
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


input, button{
    background-color: black;
    border-radius: 4px;
    color: white;
font-size: 1.2rem;
}

select{
    background-color: black;
    border-radius: 4px;
    color: white;
font-size: 1.2rem;
}